<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
    <div class="img-responsive-wrapper">
        <div class="img-responsive">
            <div class="img-wrapper"><img src="{{ site.baseurl }}/assets/images/este.jpg" title="img title"
                    alt="imagealt"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="it-hero-text-wrapper bg-dark">
                    <span class="it-category">IIS EUGANEO</span>
                    <h1 class="no_toc">COMITATO STUDENTESCO</h1>
                    <p class="d-none d-lg-block">{{ page.description }}</p>
                    <div class="it-btn-container">
                        <a class="btn btn-sm btn-secondary" href="/assemblea">Programma giornata</a>
                        <a class="btn btn-sm btn-secondary" href="/attivita">Attività</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <h5 class="card-title">Terza Assemblea Generale Studentesca di Sabato 26 Febbraio 2022</h5>
                        <p class="card-text">
                            Sabato 26 Febbraio 2022 (come da delibera del Consiglio di Istituto) –
                            Terza assemblea generale studentesca – Modalità online.
                            Le giornata avrà scansione oraria dalle ore 08:30 alle 12:45.
                            Le attività didattiche dell’Assemblea avranno luogo dalle ore 08:45 alle
                            ore 12:25.
                            Si rammenta che l’assemblea generale degli studenti rappresenta attività didattica a tutti
                            gli
                            effetti e ciascuno studente è tenuto ad osservare e rispettare il Regolamento di Istituto,
                            il Patto
                            di corresponsabilità e il Protocollo di sicurezza anti Covid (in ogni caso in cui si
                            rendesse
                            necessario).
                            L’assenza alle attività dovrà essere regolarmente giustificata. Le uscite anticipate
                            dovranno essere
                            presentate entro il giorno antecedente.
                            I docenti presteranno il loro servizio in presenza. Seguiranno ulteriori
                            indicazioni per la sorveglianza.
                            Durante la sorveglianza attiva, i docenti in servizio aiuteranno gli studenti nella
                            gestione delle singole attività e vigileranno sul rispetto scrupoloso dei regolamenti
                            sopra citati.
                        </p>
                        <a class="read-more" href="/assemblea">
                            <span class="text">Programma della Giornata</span>
                            <svg class="icon">
                                <use
                                    xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right">
                                </use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <div class="categoryicon-top">
                            <svg class="icon">
                                <use href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-file">
                                </use>
                            </svg>
                            <span class="text">CIRCOLARE DIRIGENTE</span>
                        </div>
                        <a href="https://app.box.com/s/2d46ref21rzsy89wph70fs4prk3c7sme">
                            <h5 class="card-title">CD 294 sull'Assemblea del 26/02/2022</h5>
                        </a>
                        <p class="card-text">Circolare del 24 febbraio 2022 con allegati i documenti con tutte le
                            informazioni
                            e indicazioni sull'assemblea.</p>
                        <a class="btn btn-outline-primary btn-sm" href="https://app.box.com/s/2d46ref21rzsy89wph70fs4prk3c7sme">Scarica</a>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
        <div class="col-12 col-md-6">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <div class="categoryicon-top">
                            <svg class="icon">
                                <use href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-file">
                                </use>
                            </svg>
                            <span class="text">COMITATO STUDENTESCO</span>
                        </div>
                        <a href="https://app.box.com/s/tyznehtn39zqgocscznvf8ac1ofkb4j0">
                            <h5 class="card-title">Programma Assemblea 26/02/2022</h5>
                        </a>
                        <p class="card-text">Programma dell'Assemblea del 26 Febbraio 2022 elaborato dai componenti del
                            Comitato
                            Studentesco e dai Rappresentanti d'Istituto.</p>
                        <a class="btn btn-outline-primary btn-sm" href="https://app.box.com/s/tyznehtn39zqgocscznvf8ac1ofkb4j0">Scarica</a>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <div class="categoryicon-top">
                            <svg class="icon">
                                <use href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-file">
                                </use>
                            </svg>
                            <span class="text">COMITATO STUDENTESCO</span>
                        </div>
                        <a href="https://app.box.com/s/eygirkiovr1ra0ku8ddxog5egk0tw3iw">
                            <h5 class="card-title">Elenco delle attività</h5>
                        </a>
                        <p class="card-text">Elenco delle Attività proposte dal Comitato Studentesco per l'Assemblea
                            del 26 febbraio 2022.
                        </p>
                        <a class="btn btn-outline-primary btn-sm" href="https://app.box.com/s/eygirkiovr1ra0ku8ddxog5egk0tw3iw">Scarica</a>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
        <div class="col-12 col-md-6">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <div class="categoryicon-top">
                            <svg class="icon">
                                <use href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-file">
                                </use>
                            </svg>
                            <span class="text">GUIDA</span>
                        </div>
                        <a href="https://app.box.com/s/dp39fwdnljnul3nenpy57tys0102nzar">
                            <h5 class="card-title">Guida Jitsi Meet</h5>
                        </a>
                        <p class="card-text">Rapida guida per utilizzare Jitsi Meet, la piattaforma scelta per effettuare l'appello
                            e il contrappello e alcune attività durante l'Assemblea d'Istituto.</p>
                        <a class="btn btn-outline-primary btn-sm" href="https://app.box.com/s/dp39fwdnljnul3nenpy57tys0102nzar">Scarica</a>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg bg-dark text-white">
                    <div class="card-body">
                        <h4 class="card-title text-white mb-0">GRUPPO TELEGRAM STUDENTESCO</h4>
                        <p class="card-text text-white">Rimmani aggiornato su tutte le notizie per gli studenti dell'IIS Euganeo.</p>
                        <a href="https://t.me/iiseuganeo" class="btn btn-primary mb-0">Unisciti al gruppo</a>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>

</div>